@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h2, h4, button {
  font-family: 'Poppins', sans-serif;
}

.banner {
  /* background: url("https://bostadsrattsnytt.se/img/containers/main/img/17476103-lagenheter.jpg/87eec7199a229dd44681c3ca0d1a2e23.jpg") no-repeat center center fixed; */
  background-image: url('../imgs/banner.jpg');
  /* height: 100%; */
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-info {
  background-color: black;
  color: white;
  width: 30%;
  padding: 40px;
  height: 100%;
  text-align: left;
}

.banner-info > h2 {
  font-size: 1.2em;
}
.banner-info > p {
  margin-top: 40px;
  font-size: 1em;
}

.banner-info-btn {
  font-weight: 900;
  border: none;
  border-radius: 15px;
  padding: 4px 10px;
  cursor: pointer;
  margin-top:2vw;
}

.banner-info-btn:hover {
  background: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 150px) and (max-width: 660px) { 
  /* iPhone 5 and Galaxy Fold*/
.banner-info {
  width: 100%;
}
.banner-info > h2 {
  font-size: 1.2em;
}
.banner-info > p {
  margin-top: 40px;
  font-size: 0.7em;
}

.banner-info-btn {
padding: 2px;
}
}
