.myCalendar {
 
  padding-top: 2em;
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.react-calendar {
  width: 120vh;
  background: white;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}


.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  font-size: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  padding:1vh;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 5vh;
  margin-bottom: 3em;
}



.react-calendar__navigation button {
  min-width: 44px;
  border-radius: 20px;
  margin-left: 3px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 2vh;
}

.react-calendar__month-view__weekdays__weekday {
  text-decoration: none;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  text-align: center;
  background: none;
  border: none;
  font-size: 15px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #a9d4ff;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #a9d4ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.calendarNext {
  margin-top: 8vh;
  width: 20%;
  margin-left:90vh;
  border: 1px solid lightgray;
  background: black;
  

  text-align: center;
 
  margin-right: 3vh;
  font-weight: 900;
  font-size: 13px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  color: white;
}

.calendarSkip {
  margin-top: 2vh;
  width: 20%;
  margin-left:90vh;
   border: 1px solid lightgray;
  background: black;
  text-align: center;
  margin-right: 3vh;
  font-weight: 900;
  font-size: 13px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  color: white;
}

@media only screen and (max-width: 921px){
 .react-calendar{
   width:80vw;
 }

 .calendarNext, .calendarSkip{
   margin-left:0px;
 }
}

@media only screen and (max-width: 680px){
 .react-calendar{
   font-size:10px;
 }

 .react-calendar button{

  font-size: 13px;


 }
}

@media only screen and (max-width: 370px){
.react-calendar__navigation  {
  height:3vh !important;
  font-size: 8px !important;
}

.react-calendar button {
    font-size: 8px;
}

.react-calendar__navigation button{
  min-width: 0;
}

.calendarNext, .calendarSkip{
  font-size:10px;
}

}