@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.cat-container {
  margin-top: 100px;
  padding: 20px;
}

.cat-container > h1 {
  margin: 20px;
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.category-card {
  /* border: 1px solid rgba(161, 160, 160, 0.281); */
  border-radius: 15px;
}

.category-card > h2 {
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.category-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  
}

.category-img:hover {
  transform: scale(1.1);
}




