@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.homes-display {
  margin-top: 100px;
  padding: 0 20px;
}

.homes-display > h1 {
  text-align: center;
}

.home-elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.home-comp-img > img{
  width: 100%;
  border-radius: 15px;
}

.home-comp-wrapper{
  background: #eee;
  border-radius: 15px;
  
}

.home-attr {
  padding: 10px;
  font-size: 13px;
}

/* .homes {
  width: 100%;
  height: 100%;
  border-radius: 15px;
} */

/* .homes-display-container > h1, h2, h3, h5, h6, p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}



.home-comp {
  height: 200px;
  cursor: pointer;
}

.home-attr {
  margin-top: 4px;
  width: 200px;
  margin-left: 10px;
}

.home-comp:hover {
  opacity: 0.7;
} */

/* .inline {
  display: inline;
}

.homes-display-top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .fa-angle-right {
  font-size: 25px;
  position: relative;
  left: 160px;
  top: 25px;
} */

/* .fa-arrow-alt-circle-right {
  font-size: 25px;

  cursor: pointer;
}

.fa-arrow-alt-circle-right:hover {
  opacity: 0.5;
}

.fa-user-circle {
  font-size: 16px;
  margin-left: 5px;
}

.renter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 16px;
  left: 90px;
}

.home-display-cards-info {
  position: relative;
  bottom: 10px;
}
 */
