@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.homes-display {
  margin-top: 100px;
}

.homes-display-container > h1, h2, h3, h5, h6, p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.home-attr > p {
  font-size: 13px;
}

.homes-display-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  gap: 1em;
  position: relative;
  left: 45px;
}

.home-comp {
  height: 200px;
  cursor: pointer;
}

.home-attr {
  margin-top: 4px;
  width: 200px;
  margin-left: 10px;
}

.home-list-img {
  width: 270px;
  height: 100%;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
  border-radius: 15px;
}

.home-comp:hover {
  opacity: 0.7;
}

.inline {
  display: inline;
}

.homes-display-top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .fa-angle-right {
  font-size: 25px;
  position: relative;
  left: 160px;
  top: 25px;
} */

.fa-arrow-alt-circle-right {
  font-size: 25px;
  position: relative;
  left: 160px;
  top: 25px;
  cursor: pointer;
}

.fa-arrow-alt-circle-right:hover {
  opacity: 0.5;
}

.fa-user-circle {
  font-size: 16px;
  margin-left: 5px;
}

.renter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 16px;
  left: 90px;
}

.home-display-cards-info {
  position: relative;
  bottom: 10px;
}

