* {
  box-sizing: border-box;
  margin: 0;
}

.housing-listing-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4em;
  padding: 15px;
}

.housing-object {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 20px 5px rgba(179, 179, 179, 0.3);
}

.housing-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.housing-info-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
}

.renter {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: .5em;
}

.housing-info-bottom {
  padding: 5px 10px 0 10px;
}

.housing-description {
  margin-bottom: 5px;
}

.housing-description > p {
  font-weight: 100;
  font-size: 13px;
}

.fa-user-circle {
  font-size: 30px;
  margin-right: 10px;
  color: rgb(131, 131, 131);
}

.housing-price {
  margin: 0.5rem 0 0.5rem 0;
}

.amenities {
  display: flex;
  gap: 1em;
}

.amenitie {
  font-size: 30px;
}