@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

.login-modal {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50px;
  right: 205px;
  z-index: 100;
  background: white;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 15px;
  padding-top: 10px;
}

.login-popup-div {
  cursor: pointer;
  padding: 10px 18px;
}

.login-popup-div:hover {
  background: rgba(238, 238, 238, 0.527);
}

.login-popup-hr {
  opacity: 0.5;
  margin: 4px 0 4px 0;
}

