@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.apartmentsWrapper {
  margin-top: 10vh;
  padding-left: 10vh;
  counter-reset: my-sec-counter;
}

.apartmentsComp {
  display: grid;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vh;
  align-items: center;
  justify-content: center;
    position: relative;
}

.apartmentItem {
  width: 60vh;
  height: 70vh;
  padding: 3vh;
 
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
    background-color: #f7f7f7;
  position: relative;
  z-index: 1;
}

.apartmentImgAndInfo{
  cursor: pointer;
  z-index: 100;
}

.apartmentItem:hover{
  opacity: .8;
}



.deleteApartment{
  z-index: 100;
 
}


.custom-btn {
    border: 1px solid lightgray !important;
  background: black !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  outline: none !important;
  color: white !important;
  padding: 6px !important;
 
}

.custom-btn:hover{
    background: rgba(128, 128, 128, 0.548) !important;
  color: gray !important;
}



.apartmentItem::before,
.apartmentItem::after {
  content: " ";
  position: absolute;

  padding: 3em;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  opacity: 1;
  transition: transform ease-out 250ms;
}

.apartmentItem::before {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0, 1);
}

.apartmentItem::after {
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scale(1, 0);
}

.apartmentItem:hover::before {
  transform: scale(1, 1);
}
.apartmentItem:hover::after {
  transform: scale(1, 1);
}

.rentOutImage {
  max-height: 30vh;
  
 
  transition: opacity ease-out 250ms;
}


.apartmentItem:hover {
  background-color: rgba(128, 128, 128, 0.548);
}

.noApartmentsFound{
  margin-top:10vh;
 
  text-align: center;
}

.rentOutApartmentButton{
  margin-top:5%;
   border: 1px solid lightgray;
  background: black;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  color: white;
  padding: 6px;
}

.rentOutApartmentButton:hover{
  background: rgba(128, 128, 128, 0.548);
  color: gray;
}

.custom-modal{
  border-radius: 20px !important;
}

@media screen and (max-width: 1200px) {
  .apartmentItem {
  width: 40vh;
 
 
  }

 
}
@media screen and (max-width: 1000px) {
  .apartmentItem {
  width: 30vh;
  font-size:10px;
  }

  
}
@media screen and (max-width: 800px) {
  .apartmentItem {
  
  width: 60vh;
  height: 60vh;
  font-size:20px;
 
  }

  .apartmentItem::before{
     counter-increment: my-sec-counter;
     content: "Apartment no." counter(my-sec-counter);
  }

  .apartmentsComp{
    display: flex;
    flex-direction: column;
  }

}


@media screen and (max-width: 530px) {
   .apartmentItem {
  width: 20vh;
  height: 40vh;
  font-size:12px;
 
  }

  .apartmentsHeader{
    width:70%;
    font-size: 15px;
  }

  .apartmentItem::before{
    font-size: 9px;
  
  }
}

