* {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin: 0;
}

.my-apartments-top {
  padding: 40px 40px 10px 40px;
}

.upper-info {
  margin: 2px 4px;
  width: 25%;
  border-left: 4px solid rgb(0, 82, 0);
  padding: 5px 10px;
  font-size: 12px;
}

.upper-info > p {
  opacity: 0.7;
  font-weight: 900;
}

.noApartmentsFound{
  text-align: center;
  margin-top:3vw;
}

.rentOutApartmentButton{
  margin-top:2vw;
   outline: none;
  border: 0;
  border-radius: 15px;
  background: black;
  color: white;
  padding: 1vh 3vh;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.rentOutApartmentButton:hover{
    background: rgba(128, 128, 128, 0.548);
  color: gray;
}

.apartment-listing-container {
  width: 75%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.apartment-container {
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  margin-bottom: 20px;
}

.trash-icon {
  cursor: pointer;
}

.apartment-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-btns {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
 
  align-items: flex-end !important;
  padding: 10px;
}

.options-btns > p {
  font-size: 10px;
  font-weight: 100;
  margin-left: 2px;
  opacity: 0.5;
}

.options-btns > i {
  font-size: 23px;
  margin: 2px 6px;
  cursor: pointer;
}

.options-btns > i:hover {
  opacity: 0.6;
}

.images {
  border: 1px solid rgba(51, 51, 51, 0.3);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.image-gallery {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 15px;
}

.one-apartment-image {
  width: 50%;
  height: 100%;
}

.image1 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.image3 {
  border-top-right-radius: 8px;
}

.image5 {
  border-bottom-right-radius: 8px;
}

.apartment-information {
  padding: 15px 10px;
}

.availability-section {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.availability-section > p {
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.availability-section > p:hover {
  opacity: 0.5;
}

.four-apartment-images {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
  gap: 0.25em;
}

.four-apartment-images > img {
  width: 100%;
  height: 100%;
}

hr {
  border-color: rgba(211, 211, 211, 0.219);
  margin: 10px 0;
}

.bookings-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.booking-container {
  width: 100%;
  display: flex;
  padding: 5px;
  margin: 5px;
  /* border: 1px solid lightgray; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 15px;
  cursor: pointer;
}

.booking-container:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px 8px 24px, rgba(0, 0, 0, 0.15) 0px 16px 48px;
}

.booking-image {
  width: 200px;
  height: 100%;
  border-radius: 10px;
}

.renter-container {
  display: flex;
  align-items: center;
}

.renter-container > .fa-user-circle {
  font-size: 22px;
  margin-right: 4px;
}

.username-renter {
  font-weight: 900;
  font-size: 12px;
}

.dates-container {
  display: flex;
  align-items: center;
}


.myArrow{
  
  margin-left:2vw; 
}



.deleteApartment{
  float:right;
  
 margin-right:1px;
}

.myTrash{
  cursor: pointer;
}


.fa-calendar-alt {
  font-size: 22px;
  margin-right: 4px;
}

.dates-booking {
  font-size: 12px;
  font-weight: 900;
}

.booking-amount {
  opacity: 0.5;
  font-size: 20px;
}

.wrap {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid lightgray;
}

@media screen and (max-width: 1200px) {
  .apartmentItem {
  width: 40vh;
  height: 60vh;
 
  }

 
}
@media screen and (max-width: 1000px) {
  .apartmentItem {
  width: 30vh;
  height: 40vh;
  font-size:10px;
  }

  
}
@media screen and (max-width: 800px) {
  .apartmentItem {
    display: flex;
    flex-direction: column;
  width: 60vh;
  height: 60vh;
  font-size:15px;
 
  }

  .apartmentsComp{
    display: flex;
    flex-direction: column;
  }

  .rentOutImage {
    
    width:30vh;
  }
}


@media screen and (max-width: 530px) {
   .apartmentItem {
  width: 20vh;
  height: 40vh;
  font-size:12px;
 
  }

  .apartmentsHeader{
    width:70%;
    font-size: 15px;
  }
}

