




.bookingsWrapper {
 
  width: 70vw;
  margin-left: 18vw;
  display: grid;
  grid-template-rows: repeat(1fr);
  padding-top: 5vw;
  padding-bottom:5vw;
}

.bookingsWrapper button{
  text-align: center;
}


.bookingsComp {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingsComp > div {
  margin-top: 6vh;
}

.bookingItem {

  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 4vh;
  margin-left:-6vw;
}

.info {
  width: 40%;
  margin-left: 5vh;
}

.buttonWrapperBooking {
  margin-top: 50%;
}
.buttonWrapperBooking button {
  border: 1px solid lightgray;
  background: black;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  color: white;
  padding: 6px;
}

.buttonWrapperBooking > button:hover {
  background: rgba(128, 128, 128, 0.548);
  color: gray;
}

.apartmentImgBookings{
  width:40vw;
}

@media screen and (max-width: 1080px) {
  .buttonWrapperBooking {
    margin-top: 0%;
 
  }
  .buttonWrapperBooking  button{
    margin-top: 0%;
    padding:1vw;
 
  }

  .bookingsWrapper {
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
    .buttonWrapperBooking button {
    height: 4vh;
    width: 24vw;
    font-size:.7rem;
  }

  
  .bookingsWrapper{
    margin-left:14vw;
  }

}



@media screen and (max-width: 798px) {


  .bookingsWrapper {
    width: 40%;
  }

  .bookingItem {
    font-size: 13px;
  }
}




@media screen and (max-width: 650px) {
  .bookingsWrapper {
    margin-left: 10vw;
  
  }

   .buttonWrapperBooking button {
    
    font-size:.5rem;
  }

  .bookingItem{
    font-size: 10px;
  }

  .myBookingsHeader{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 460px) {
  .bookingsWrapper {
    margin-left: 7vw;
  
  }

  .apartmentInfo{
    padding-top:1vw;
  }

   .buttonWrapperBooking button {
    
    font-size:.4rem;
  }

  .bookingItem{
    font-size: 8px;
    padding:1vw;
  }


  .apartmentImgBookings{
  height:40vw;
}


  
}
