* {
  box-sizing: border-box;
}

/* .bookingsWrapper {
  width: 70%;
  margin-left: 30vh;
  display: grid;
  grid-template-rows: repeat(1fr);
  padding-top: 10vh;
}

img {
  max-width: 100%;
  height: auto;
}

.bookingsComp {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingsComp > div {
  margin-top: 6vh;
}

.bookingItem {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4vh;
}

.info {
  width: 40%;
  margin-left: 5vh;
}

.buttonWrapperBooking {
  margin-top: 50%;
}
.buttonWrapperBooking button {
  border: 1px solid lightgray;
  background: black;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  color: white;
  padding: 6px;
}

.buttonWrapperBooking > button:hover {
  background: rgba(128, 128, 128, 0.548);
  color: gray;
} */

.mybookings-top {
  padding: 40px 40px 10px 40px;
}

.mybookings-listing {
  padding: 10px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.booking {
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px 8px 24px, rgba(0, 0, 0, 0.15) 0px 16px 48px;
  display: flex;
  padding: 4px;
  border-radius: 8px;
}

.apartmentImg {
  width: 350px;
  height: 250px;
}

.apartmentImg > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.booking-object-details {
  padding: 10px 12px;
  margin-left: 17px;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}

.ownername-icon {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  /* border: 1px solid lightgray; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 8px;
  margin-bottom: 10px;
  border-top: 1px solid white;
}

.booking-dates {
  border-top: 1px solid white;
  padding: 2px 6px;
  /* border: 1px solid lightgray; */
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.checkinout {
  font-size: 11px;
}

.boldspan {
  font-weight: 900;
  font-size: 12px;
}

.description-p {
  font-size: 10px;
  margin-left: 4px;
}

.apartment-info {
  padding: 2px 6px;
  /* border: 1px solid lightgray; */
  border-top: 1px solid white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 8px;
  font-size: 12px;
}

.fa-map-marker-alt {
  font-size: 12px;
  margin-left: 4px;
  margin-top: 10px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: 10px auto 5px auto;
}

.show-more-btn {
  border: 1px solid lightgray;
  background: black;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  color: white;
  padding: 2px 6px;
  width: 100%;
  /* margin-top: 13px; */
  font-size: 12px;
  font-weight: 900;
}

@media screen and (max-width: 1080px) {
  .buttonWrapperBooking {
    margin-top: 0%;
  }

  .bookingsWrapper {
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 980px) {
  .buttonWrapperBooking button {
    height: 4vh;
    width: 30vh;
   
  }
}


@media screen and (max-width: 798px) {

   img {
    display:none;
   
  }

  .bookingsWrapper {
    width:40%;
  }

  .bookingItem{
    font-size:13px;
    
  }
}


@media screen and (max-width: 640px) {
  .bookingsWrapper {
    margin-left:10vh;
     width: 15%;
  }

}