@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h3 {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* background-color: white; */
  background-color: #f7f7f7;
  z-index: 100;
  width: 100%;
  flex-wrap: wrap;
  height:14vh;
}

/* .nav > * {
  flex-wrap: wrap;
  flex: 0 1;
} */

.nav-logo {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  background-color: #f7f7f7;
}

.nav-center {
  margin-top: 10px;
  display: grid;
  /* grid-template-columns: 1 1; */
  width: 600px;
}

.nav-center-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  position: relative;
  top: 10px;
}

.nav-center-options > h3:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.nav-center-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 999px;
  position: relative;
  top: 18px;
  background-color: white;
  border-bottom: 1px solid rgba(83, 83, 83, 0.5);
}

.nav-center-searchbar > input {
  border: none; 
  outline: none;
  width: 100%;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;

}

.nav-center-searchbar input{
 border:none;
 outline:none;
 width:60vh;
 font-size: 15px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.nav-right > p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.fa-search {
  font-size: 20px;
}

.nav-right > .fa-user-circle {
  font-size: 35px;
}


.calendar-component{
  margin-top:2vh;
   padding-bottom:3vh;
   text-align: center;
   background-color: white;
  margin-left:38vh;
  
}

.mySpan{
  float:right;
  padding:2vh;
  cursor: pointer;
}

.selectDates{
  font-size:30px;
  font-weight: bold;
  padding:2vh;
}
.login-btn {
  border-radius: 999px;
  /* border: 1px solid lightgray; */
  
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: rgb(230, 230, 230);

}

.login-btn-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  font-size: 20px;
}

.login-btn-icons-container > i {
  padding: 3px;
}

.login-btn:hover {
  opacity: 0.5;
}


.nav-center .dynamic-search {
  background-color: white;
  max-width: 20vw;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  margin-top: 14vh;
  margin-left: 60px;
  border-radius: 9px;
  text-align: center;
}

.dynamic-search-value {
  margin: 10px;
}

.dynamic-search-value:last-child {
  margin-bottom: 20px;
}
