@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h3 {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  flex-wrap: wrap;
  height:14vh;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: #f7f7f7;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-logo img {
  /* object-fit: contain; */
  height: 7vw;
  padding-left: 5px;
  background-color: #f7f7f7;
}

.nav-center {
  display: grid;
  grid-template-rows: 2;
  width: 80%;
  text-align: center;
}

.nav-center-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-center-options > h3{
  padding-left: 20px;
}

.nav-center-options > h3:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.nav-center-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  width: 80%;
  margin: 0 auto;
}

.nav-center-searchbar > input {
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(83, 83, 83, 0.5);
  color: black;
  text-decoration: none;
  cursor: default;
  border-radius: 90px;
  font-size: medium;
  width: 100%;
  font-family: 'Poppins', sans-serif;
 

}

.nav-center-searchbar input{
 border:none;
 outline:none;
 width:60vh;
 font-size: 15px;
}

.nav-center-searchbar > input:focus{
  outline: none;
}

.nav-right {
  align-items: center;
}

.nav-right > p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.fa-search {
  font-size: 20px;
}

.nav-right > .fa-user-circle {
  font-size: 35px;
}


.calendar-component{
  margin-top:3vh;
   padding-bottom:3vh;
   text-align: center;
   background-color: white;
  margin-left:38vh;
  
}

.mySpan{
  float:right;
  padding:2vh;
  cursor: pointer;
}

.selectDates{
  font-size:30px;
  font-weight: bold;
  padding:2vh;
}
