/* to remove border around button after clicking on it */
*:focus {
  outline: none;
}

.plusMinusContainer {
  margin: 20px 20px;
  max-width: 600px;
}

.plusMinusWrapper {
display: grid;
grid-template-columns: 1fr 40%;
}

.content-left {
  display: flex;
  align-items: center;
  margin: 0;
}
.buttons-right {
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons-right > button {
  margin: 10px;
  border: 1px solid grey;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  outline: none;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-size: 20px;
}

.content-under {
width: 90%;
}


#cancel {
  background: #fff;
  border: 0;
  text-decoration: underline;
  margin-bottom: 20px;
  cursor: pointer;
}

#save {
  background: #000;
  color: #fff;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
