.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background: red;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: calc(100vh - (14vh + 100px));  /* 100 vh - (header + footer) */
}